---
type: ''
nav: 'about-base'
---
<article class="cover-letter">
  <header class="section-header cover-letter-header">
    <%= image_tag "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt: "Ryan Clark Merrill", class: 'mugshot' %>
    <h1>You Found No. 43</h1>
    <h2>
      I'm a hungry interface designer and developer who cares as much about the content on the pages as I do about how they look.
    </h2>
    <hr />
  </header>
    <div class="cover-letter-body section-body">
      <p>I'm just as interested in debating the validity of the Oxford commas as I am in determining how to apply the golden ratio to web design. And while I spend most of my time writing HTML, CSS and JavaScript these days I get just as excited trimming a block of copy as I do refactoring code or iterating on a design.</p>
      <p>
      My love for clean design, code and writing comes from a midwestern work ethic forged near the abandoned steel yards of the Great Lakes. I grew up on a steady diet of underdog sports teams, brutal winters and minimalist writers — distilling in me a utilitarian approach to design and a desire to celebrate the written word.
      </p>
      <h3>Background</h3>
      <p>
      I graduated with English and journalism degrees in 2007 from The Ohio State University. I was the Editor-in-Chief of the student newspaper, where I learned how to edit and write stories that engaged readers.</p>
      </p>
      <p>
      After a stint working for The National Journal I made the leap from writer to interaction designer. I am currently a UI Developer at Barefoot Proximity, an advertising agency based in Cincinati, Ohio. My team is nearly finished with an 8-month project for ExxonMobil where I personally led the front-end development for the HTML &amp; CSS that will underline most of Exxon's next generation of web sites.
      </p>
      <p>Since starting again at Barefoot in June of 2013, I spearheaded a new process of rapid development consisting of designing and wireframing in the browser rather than static pictures.</p>
      <p>
      I also moonlight as an independent freelancer who loves product design. I recently wrapped up <%= link_to "revamping the user experience and interaction design", "/basecamp/case-study.html" %> for a website aimed at helping men dress well. You can check-out the <%= link_to "case study of the project here", "/basecamp/case-study.html" %>.
      </p>
      <p>In 2013 I started teaching an interaction design class last year to third- and fourth-year design majors at Northern Kentucky University. Going into it I thought I would be doing more teaching than learning, but I was caught off guard as to how much I learned from the experience. Halfway through the semester it finally clicked why you continue to share your business ideas publicly.</p>
      <h3>Why You</h3>
      <p>
      Basecamp has always been the pinnacle of product design for me.</p>
      <p>When I first made the transition from a writer to a designer and developer, Signals vs. Noise separated the wheat from the chaff. With the number of snake-oil salesmen on the web these days, it's hard to find a resource of knowledge as valuable as Signal vs. Noise was for an inexperienced designer such as myself.</p>
      <p>It has been my dream job to work with the best product design and development team in the industry. I would love to contribute in any small way toward making Basecamp better.</p>
      <h3>My Work</h3>
      <p>It's been seven years since I traded commas for pixels and I've come a long way as a product and web designer. In addition to the <%= link_to "case study", "/basecamp/case-study.html" %> I wrote, you can see the rest of my work on my <%= link_to "portfolio", "/work" %>. Or if you want to see more of my writing, you can catch up on it <%= link_to "here", "/writing" %>.</p>
      <p>If you're looking for summarized view of my career, head on over to my <%= link_to "resume", "/basecamp/resume.html" %> and see what I've been up to.</p>
    </div>
</article>
