---
type: 'resume'
nav: 'resume'
---

<main class="main-content" role="main">

<header class="resume-header">
  <div id="hcard-Ryan-Clark-Merrill" class="vcard">
    <div class="contact">
      <span class="tel"><strong>Telephone:</strong> 440-452-6174</span>
      <span class="email"><strong>Email:</strong> <a class="email" href="mailto:ryan@ryanmerrill.net">ryan@ryanmerrill.net</a></span>
      <span class="adr"><strong>Address:</strong>
        <span class="street-address">3557 St. Charles Pl.</span>,
        <span class="locality">Cincinnati</span>,
        <span class="region">OH</span>
        <span class="postal-code">45208</span>
      </span>
    </div>
  </div>
</header> <!-- /resume-header -->

<section class="resume-body">
  <header class="body-header">
    <h2>Work Experience</h2>
  </header>

  <section class="job-listing">
    <header class="job-listing-header">
      <h1>UI Developer, <%= link_to 'Barefoot Proximity', 'http://barefootproximity.com/' %></h1>
      <h2>Cincinnati, Ohio &mdash; <time>June 2013 &ndash; Present</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>
        Implemented a new design and development workflow to design and prototype in the browser
        </li>
        <li>
        Wrote the front-end HTML, CSS and JavaScript for several of ExxonMobil's next generation of web sites
        </li>
        <li>
        Taught project managers, account executives and production assistants HTML, CSS and responsive design basics
        </li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->
  <section class="job-listing">
    <header class="job-listing-header">
      <h1>Adjunct Professor, <%= link_to 'Northern Kentucky University', 'http://nku.edu/' %></h1>
      <h2>Highland Heights, Kentucky &mdash; <time>August 2013 &ndash; Present</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>
        Developed slides, code examples and assignments to teach third- and fourth-year design students HTML &amp; CSS
        </li>
        <li>
          Facilitated design critiques and code reviews with students
        </li>
        <li>
        Reviewed, graded and provided detailed feedback of student work 
        </li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->
  <section class="job-listing">
    <header class="job-listing-header">
      <h1>Designer and Developer, <%= link_to 'Ample', 'http://helloample.com' %></h1>
      <h2>Cincinnati, Ohio &mdash; <time>June 2011 &ndash; May 2013</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>
          Strategized, developed and implemented a new design and development process that decreased project timelines by months
        </li>
        <li>
        Organized two <%= link_to 'Queen City Merge conferences', 'http://queencitymerge.com/' %>, which attracted more than 100 designers, developers and marketers to the Cincinnati area
        </li>
        <li>
        <%= link_to 'Led a workshop', 'https://speakerdeck.com/procload/responsibly-responsive-web-design' %> at 2012's Queen City Merge on responsive web design
        </li>
        <li>
          Led the push toward responsive web design and educated other designers at Ample how to design websites starting with a mobile-first mindset
        </li>
        <li>
        Designed the user interface for <%= link_to "Ample's custom content management system", "http://helloample.com/products/ample-cms" %>, which is used by the majority of Ample's clients
        </li>
        <li>
          Designed and developed websites on a number of MVC platforms, especially Ruby on Rails
        </li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->


  <section class="job-listing">
    <header class="job-listing-header">
      <h1>UI Developer, <%= link_to 'Barefoot Proximity', 'http://barefootproximity.com/' %></h1>
      <h2>Cincinnati, Ohio &mdash; <time>February 2010 &ndash; June 2011</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>Designed and developed elements of the user interface for Barefoot Proximity's youth team-management platform, <%= link_to 'CoachHub', 'http://coachhub.com' %></li>
        <li>Translated static design files into Rails applications and websites</li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->


  <section class="job-listing">
    <header class="job-listing-header">
      <h1>Designer, <%= link_to 'Clubessential','http://clubessential.com/' %></h1>
      <h2>Cincinnati, Ohio &mdash; <time>August 2009 &ndash; February 2010</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>Crafted design solutions for the country club market</li>
        <li>Created and refined unique client identities</li>
        <li>Designed HTML newsletters for Clubessential client communications</li>
        <li>Sliced and built websites in HTML, CSS and Adobe Flash</li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->


  <section class="job-listing">
    <header class="job-listing-header">
      <h1>Designer and Developer, Freelance</h1>
      <h2>Cincinnati, Ohio &mdash; <time>January 2000 &ndash; Present</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>
        Design websites and interactive applications using progressive enhancement, responsive design and Web Standards
        </li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->


  <section class="job-listing">
    <header class="job-listing-header">
      <h1>Online Editor, <%= link_to 'National Journal', 'http://nationaljournal.com/' %></h1>
      <h2>Washington, D.C. &mdash; <time>June 2007 &ndash; June 2008</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>
        Developed multimedia applications in Flash, PHP and HTML for interactive stories published on nationaljournal.com
        </li>
        <li>
        Created front-page images in Adobe Photoshop for nationaljournal.com and The Gate, a political blog from National Journal
        </li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->

  <header class="body-header">
    <h2>Education</h2>
  </header>
  <section class="job-listing">
    <header class="job-listing-header">
      <h1>The Ohio State University</h1>
      <h2>Columbus, Ohio &mdash; <time>September 2002 &ndash; June 2007</time></h2>
    </header> <!-- /job-listing-header -->
    <div class="job-details">
      <ul class="job-highlights">
        <li>
        Bachelor of Fine Arts in Journalism
        </li>
        <li>
        Bachelor of Fine Arts in English
        </li>
      </ul> <!-- /job-highlights -->
    </div> <!-- /job-details -->
  </section> <!-- /job-listing -->
</section> <!-- /resume-body -->

<footer class="resume-footer">

</footer> <!-- /resume-footer -->
</main>
<!-- /main-content -->

