--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'Ample CMS', 'http://helloample.com/products/ample-cms' %></h1>
    <hr />
    <h2><%= link_to 'Ample CMS', 'http://helloample.com/products/ample-cms' %> is a powerful and customizable content management system designed to be easy to use with minimal fuss. I designed and developed the front-end of Ample CMS and helped integrate the markup into its Rails foundation.</h2>
  </header>
  <div class="work-body section-body">
    <%= image_tag 'work/cms/img-cms.png', :alt => 'Ample CMS' %>
    <h3>Ample Assets</h3>
    <%= image_tag 'work/cms/img-cms-img.png', :alt => 'Ample Assets' %>
    <h3>Image Detail Editor</h3>
    <%= image_tag 'work/cms/img-cms-detail.png', :alt => 'Ample CMS Image Detail Editor' %>
  </div>
  
</article>
<!-- /workpiece -->

