--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'The Brandery', 'http://brandery.org/' %></h1>
    <hr />
    <h2><%= link_to 'The Brandery', 'http://brandery.org/' %> is a startup accelerator based in Cincinnati. I worked from a static design file to turn the design into a responsive site by appropriating many of the styles and starting small-screen first development workflow.</h2>
  </header>
  <div class="work-body section-body">
    
    <%= image_tag 'work/brandery/img-brand-comp.png', :class => 'computer', :alt => 'brandery' %>

  
    <h3>Responsive Design</h3>
    <div class="responsive-images">
      <div class="res-image">
        <%= image_tag 'work/brandery/img-brand-resp-1.png', :class => 'computer', :alt => 'Brandery' %>
      </div>
      <div class="res-image">
        <%= image_tag 'work/brandery/img-brand-resp-2.png', :class => 'computer', :alt => 'Brandery' %>
      </div>
      <div class="res-image">
        <%= image_tag 'work/brandery/img-brand-resp-3.png', :class => 'computer', :alt => 'Brandery' %>
      </div>
    </div> <!-- /respnonsive-images -->
    <h3>Company Portfolio Page</h3>
    <%= image_tag 'work/brandery/img-brand-port.png', :alt => 'Yocal' %>

  </div>
  
</article>
<!-- /workpiece -->

