--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header>
    <h1>CoachHub</h1>
    <h2>I designed and developed the user interface for many sections of the <%= link_to 'CoachHub website', 'http://coachhub.com/', :target => '_blank', :title => 'CoachHub' %>.</h2>
  </header>
  <div class="article-body">

    <%= image_tag 'work/chub/img-homepage.png', :alt => 'CoachHub' %>

    <%= image_tag 'work/chub/img-computer.png', :class => 'computer', :alt => 'CoachHub' %>
  
    <h3>User Homepage</h3>
    <%= image_tag 'work/chub/img-parentHome.png', :alt => 'CoachHub &mdash; Parent Home' %>
  
    <h3>Calendar</h3>
    <%= image_tag 'work/chub/img-calendar.png', :alt => 'CoachHub &mdash; Calendar' %>
  
    <h3>Admin Player Listing</h3>
    <%= image_tag 'work/chub/img-adminPlayers.png', :alt => 'CoachHub &mdash; Players' %>
  
    <h3>Team Stats Page</h3>
    <%= image_tag 'work/chub/img-adminStats.png', :alt => 'CoachHub &mdash; Stats' %>
    
  </div>
  
</article>
<!-- /workpiece -->
