--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'CoachHub', 'http://coachhub.com/', :target => '_blank', :title => 'CoachHub' %></h1>
    <hr />
    <h2>CoachHub is a <%= link_to 'youth sports team-management website', 'http://coachhub.com/', :target => '_blank', :title => 'CoachHub' %> built on Rails to help parents manage carpools, line-ups, photos and other team-related information. I designed and developed the public and administrator user interface for the website. </h2>
  </header>
  <div class="work-body section-body">
    
    <%= image_tag 'work/chub/img-chub-comp.png', :class => 'computer', :alt => 'CoachHub' %>

    <%= image_tag 'work/chub/img-homepage.png', :alt => 'CoachHub' %>
  
    <h3>User Homepage</h3>
    <%= image_tag 'work/chub/img-parentHome.png', :alt => 'CoachHub &mdash; Parent Home' %>
  
    <h3>Calendar</h3>
    <%= image_tag 'work/chub/img-calendar.png', :alt => 'CoachHub &mdash; Calendar' %>
  
    <h3>Admin Player Listing</h3>
    <%= image_tag 'work/chub/img-adminPlayers.png', :alt => 'CoachHub &mdash; Players' %>
  
    <h3>Team Stats Page</h3>
    <%= image_tag 'work/chub/img-adminStats.png', :alt => 'CoachHub &mdash; Stats' %>
    
  </div>
  
</article>
<!-- /workpiece -->
