--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'Everything but the House', 'http://www.ebth.com/' %></h1>
    <hr />
    <h2><%= link_to 'Everything but the House', 'http://www.ebth.com/' %> is an online bidding website that specializes in estate sales. I did UI design work, built the front-end and helped implement the content into a Ruby on Rails app.</h2>
  </header>
  <div class="work-body section-body">
    
    <%= image_tag 'work/ebth/img-ebth-comp.png', :class => 'computer', :alt => 'Everything but the House' %>

    <h3>Item Sale Page</h3>
    <%= image_tag 'work/ebth/img-ebth-sale.png', :alt => 'Item Sale Page' %>
  
    <h3>Item Detail Page</h3>
    <%= image_tag 'work/ebth/img-ebth-item.png', :alt => 'Item Detail Page' %>
  
    <h3>Category Page</h3>
    <%= image_tag 'work/ebth/img-ebth-cats.png', :alt => 'Category Page' %>
  
  </div>
  
</article>
<!-- /workpiece -->
