--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'Everything but the House', 'http://www.ebth.com/' %></h1>
    <hr />
    <h2><%= link_to 'Everything but the House', 'http://www.ebth.com/' %> is an online bidding website that specializes in estate sales. I did UI design work, built the front-end and helped implement the front-end code into a Ruby on Rails app.</h2>
  </header>
  <div class="work-body section-body">
    

    <%= image_tag 'work/ebth/img-category.jpg', :alt => 'Category Page' %>
    <h3>Bid Window</h3>
    <%= image_tag 'work/ebth/img-modal.jpg', :alt => 'Modal' %>
  
    <h3>Following Items</h3>
    <%= image_tag 'work/ebth/img-following.jpg', :alt => 'Following' %>
  
  
  </div>
  
</article>
<!-- /workpiece -->
