--- 
type: 'article'
nav: 'work'
---
<header class="section-header">
  <h1>Work</h1>
  <hr />
  <h2>I am a designer/developer hybrid that is just as much interested in what is behind the pretty pictures as is what's on top. You can view more of my <%= link_to 'designs on Dribbble', 'http://dribbble.com/procload'%> or my code on <%= link_to 'Github', 'http://github.com/procload' %>.</h2>
</header>
<!-- /about-header -->
<section class="section-body">

  <ul class="portfolio-list">
    <li class="portfolio-item madtree">
    <a href="/work/madtree.html">
      <div class="port-image">
        <%= image_tag('work/img-madtree@2x.png', :alt => 'MadTree Brewing') %>
      </div>
      <div class="about-item">
        <h1>MadTree Brewing</h1>
        <h2>Website Design and Development</h2>
        <span>View More &raquo;</span>
      </div>
    </a>
    </li>


    <li class="portfolio-item ebth">
    <a href="/work/ebth.html">
      <div class="port-image">
        <%= image_tag('work/img-ebth@2x.png', :alt => 'Everything but the House') %>
      </div>
      <div class="about-item">
        <h1>Everything But the House</h1>
        <h2>User Experience; UI Design and Development</h2>
        <span>View More &raquo;</span>
      </div>
    </a>
    </li>

    <li class="portfolio-item qcm">
    <a href="/work/qcm.html">
      <div class="port-image">
        <%= image_tag('work/img-qcm@2x.png', :alt => 'qcm') %>
      </div>
      <div class="about-item">
        <h1>Queen City Merge</h1>
        <h2>Website Design and Development</h2>
        <span>View More &raquo;</span>
      </div>
    </a>
    </li>

    <li class="portfolio-item yocal">
    <a href="/work/yocal.html">
      <div class="port-image">
        <%= image_tag('work/img-yocal@2x.png', :alt => 'yocal') %>
      </div>
      <div class="about-item">
        <h1>Yocal</h1>
        <h2>User Experience; UI Design and Development</h2>
        <span>View More &raquo;</span>
      </div>
    </a>
    </li>

    <li class="portfolio-item brandery">
    <a href="/work/brandery.html">
      <div class="port-image">
        <%= image_tag('work/img-brandery@2x.png', :alt => 'brandery') %>
      </div>
      <div class="about-item">
        <h1>The Brandery</h1>
        <h2>UI Development</h2>
        <span>View More &raquo;</span>
      </div>
    </a>
    </li>



  </ul>
  <!-- /portfolio-list -->
</section>
