--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'Queen City Merge', 'http://qcmerge.com/' %></h1>
    <hr />
    <h2><%= link_to 'Queen City Merge', 'http://qcmerge.com/' %> is an annual two-day conference held in Cincinnati, Ohio designed to bring together designers and developers so they can learn from one another. I helped organize the event and designed and built the responsive website.</h2>
  </header>
  <div class="work-body section-body">
    
    <%= image_tag 'work/qcm/img-qcm-comp.png', :class => 'computer', :alt => 'Queen City Merge' %>

  
    <h3>Responsive Design</h3>
    <div class="responsive-images">
      <div class="res-image">
        <%= image_tag 'work/qcm/img-qcm-resp-1.png', :class => 'computer', :alt => 'Queen City Merge' %>
      </div>
      <div class="res-image">
        <%= image_tag 'work/qcm/img-qcm-resp-2.png', :class => 'computer', :alt => 'Queen City Merge' %>
      </div>
      <div class="res-image">
        <%= image_tag 'work/qcm/img-qcm-resp-3.png', :class => 'computer', :alt => 'Queen City Merge' %>
      </div>
    </div> <!-- /respnonsive-images -->
  </div>
  
</article>
<!-- /workpiece -->

