---
type: 'article'
---

<article class="workpiece wedding">
  <header>
    <h1>My Wedding</h1>
    <h2>I designed the save-the-date notices, invitations and <%= link_to 'website', 'http://merrillwedding.com/', :target => '_blank', :title => 'my wedding website' %> for my wedding.</h2>
  </header>
  <div class="article-body">

    <%= image_tag 'work/wedding/img-invitePackage.jpg', :alt => 'Invitation package' %>
    
    <h3>Website &ndash; <%= link_to 'Visit the site', 'http://www.merrillwedding.com/', :title => 'Ryan &amp; Anne Merrill\'s Wedding', :target => '_blank' %></h3>
    <%= image_tag 'work/wedding/img-computer.png', :class => 'computer', :alt => 'My Wedding' %>
    
    
   <h3>Invitations &amp; Save the Date</h3>
   <div class="group">
     <%= image_tag 'work/wedding/img-invite.png', :class => 'invite', :alt => 'My wedding invitation' %>
     <%= image_tag 'work/wedding/img-std.png', :class => 'std', :alt => 'My wedding save the date' %>
     
   </div>
        

  </div>
  
</article>
<!-- /workpiece -->
