--- 
type: 'article'
nav: 'work'
---


<article class="workpiece">
  <header class="section-header">
    <h1><%= link_to 'Yocal', 'http://getyocal.com' %></h1>
    <hr />
    <h2><%= link_to 'Yocal', 'http://getyocal.com' %> is a local news aggregator that helps employers retain and attract new employees. I designed and developed the front-end of the site and implemented it into a custom Rails app. I also worked on implementing a custom admin for Yocal staff that makes it easy for employers to track community enagement among their employees.</h2>
  </header>
  <div class="work-body section-body">
    
    <%= image_tag 'work/yocal/img-yocal-comp.png', :class => 'computer', :alt => 'Yocal' %>

  
    <h3>Responsive Design</h3>
    <div class="responsive-images">
      <div class="res-image">
        <%= image_tag 'work/yocal/img-yocal-resp-1.png', :class => 'computer', :alt => 'Yocal' %>
      </div>
      <div class="res-image">
        <%= image_tag 'work/yocal/img-yocal-resp-2.png', :class => 'computer', :alt => 'Yocal' %>
      </div>
      <div class="res-image">
        <%= image_tag 'work/yocal/img-yocal-resp-3.png', :class => 'computer', :alt => 'Yocal' %>
      </div>
    </div> <!-- /respnonsive-images -->
    <h3>Story List View</h3>
    <%= image_tag 'work/yocal/img-yocal-marketing.png', :alt => 'Yocal' %>

    <h3>Administrator Dashboard</h3>
    <%= image_tag 'work/yocal/img-yocal-dash.png', :alt => 'Yocal' %>

    <h3>Story List View</h3>
    <%= image_tag 'work/yocal/img-yocal-list.png', :alt => 'Yocal' %>
  </div>
  
</article>
<!-- /workpiece -->

