---
type: 'about'
nav: 'about'
---

<article class="about-me">
  <header class="section-header about-header">
    <h1>About Me</h1>
    <hr />
    <h2>I have been <%= link_to 'designing', 'http://dribbble.com/procload/' %> in various mediums for more than six years, and I've also been known to throw around a <%= link_to 'line of code or two', 'http://github.com/procload' %>.</h2>
  </header>
  <!-- /about-header -->
  <section class="section-body about-body">
    <p>
      I'm a hungry designer, developer and writer who likes his work tough and code clean. It comes from a midwestern work ethic forged near the abandoned steel yards of the Great Lakes. I grew up on a steady diet of underdog sports teams, brutal winters and minimalist writers &mdash; distilling in me a utilitarian approach to design and a desire to celebrate victories of any size.
    </p>
    <p>Check out my <a href="/work" title="Portfolio">portfolio</a> to see some of my work.</p>
    <hr />
    <div class="about-list">
      <h3>I believe:</h3>
      <ul>
        <li>Websites do not need to look the same in every browser</li>
        <li>Eliminating distractions in life and design</li>
        <li>Quality over quantity</li>
        <li>Good design starts with good content</li>
      </ul>
    </div>
    <div class="about-list">
      <h3>I'm interested in:</h3>
      <ul>
        <li>The intersection of publishing and technology</li>
        <li>Making the world a better place than I found it</li>
        <li>Making interesting things</li>
        <li>Cutting words</li>
      </ul>
    </div>

    <hr />
    <p>Write me at <%= link_to 'ryan@ryanmerrill.net', 'mailto:ryan@ryanmerrill.net', :title => 'ryan@ryanmerrill.net' %>.
    <p>Find me at:
    <%= link_to 'Twitter', 'http://www.twitter.com/procload', :target => '_blank', :class => 'twitter' %>,
    <%= link_to 'Dribbble', 'http://www.dribbble.com/procload', :target => '_blank', :class => 'dribbble' %>,
    <%= link_to 'Github', 'http://www.github.com/procload', :target => '_blank', :class => 'github' %>,
    <%= link_to 'Flickr', 'http://www.flickr.com/procload', :target => '_blank', :class => 'flickr' %>,
    <%= link_to 'Rdio', 'http://www.rdio.com/procload', :target => '_blank', :class => 'rdio' %> and
    <%= link_to 'LinkedIn', 'http://www.linkedin.com/procload', :target => '_blank', :class => 'linkedin' %>.
    </p>
  </section>
  <!-- /about-body -->
</article>
<!-- /about-me -->
