<article>
  <header>
    <h1><%= current_article_title %></h1>
  </header>
  
  <div class="l-article-body">
    <%= yield_content :blog_article %>
    <p class="twitter-link">You should follow me on <%= link_to 'Twitter', 'http://twitter.com/procload/', :target => '_blank' %>.</p>
  </div>
  <!-- /article-body -->
  
  <footer>
    <time class="published updated" pubdate="" datetime="<%= current_article_date.strftime('%y-%m-%e %H:%M:%S %z') %>"><%= current_article_date.strftime('%A, %b %d') %></time>
    
  </footer>
</article>