---
type: 'articles'
nav: 'blog'
---

<% blog.articles[0...5].each do |article| %>
  <article>
    <header>
      <h1><%= link_to article.title, article %></h1>
    </header>
    <div class="l-article-body">
      <%= article.summary %>
      <%= link_to 'Continue Reading', article.url %>
    </div>
    <!-- /article-body -->
    <footer>
      <time class="published updated" pubdate="" datetime="<%= article.date.strftime('%y-%m-%e %H:%M:%S %z') %>"><%= article.date.strftime('%A, %b %d') %></time>
    </footer>
  </article>
<% end %>
<%= partial 'partials/pagination' %>