<ul class="portfolio-list">
  <li class="portfolio-item system7">
    <%= link_to image_tag('work/img-s7-logo.jpg', :alt => 'System7'), 'system7.html', :title => 'System7' %>
    <h2><a href="system7.html" title="System7">System7</a></h2>
    <h3>Logo</h3>
  </li>
  
  <li class="portfolio-item lower9">
    <%= link_to image_tag('work/img-lower9-thumb.jpg', :alt => 'The Lower 9'), 'lower9.html', :title => 'The Lower 9' %>

    <h2><a href="lower9.html" title="The Lower 9">The Lower 9</a></h2>
    <h3>Logo &amp; Website</h3>
  </li>

  <li class="portfolio-item chub">
    <%= link_to image_tag('work/img-logo-chub.jpg', :alt => 'CoachHub'), 'chub.html', :title => 'CoachHub' %>
    <h2><a href="chub.html" title="CoachHub">CoachHub</a></h2>
    <h3>Website &amp; Development</h3>
  </li>
  
  <li class="portfolio-item wedding">
    <%= link_to image_tag('work/img-thumb-wedding.png', :alt => 'My Wedding'), 'wedding.html', :title => 'My Wedding' %>
    <h2><a href="wedding.html" title="My Wedding">My Wedding</a></h2>
    <h3>Print Design &amp; Website</h3>
  </li>
  
  <li class="portfolio-item penn-oaks">
    <%= link_to image_tag('work/img-thumb-pennOaks.jpg', :alt => 'Penn Oaks Country Club'), 'penn-oaks.html', :title => 'Penn Oaks Country Club' %>
    <h2><a href="penn-oaks.html" title="Penn Oaks Country Club">Penn Oaks Country Club</a></h2>
    <h3>Website</h3>
  </li>
</ul>
<!-- /portfolio-list -->